.search {
  #f {
    .formInput {
      margin-right: 5px;
    }

    .searchBtn {
      margin-left: 2%;
      &:hover {
        box-shadow: 0px 0px 5px #fff;
      }
    }

    .clearIcon {
      margin-left: -11%;
      margin-right: 4%;
      margin-top: 1.5%;
      width: 20px;
      height: 20px;

      color: #d9dddc;

      &:hover {
        color: #fa8072;
        cursor: pointer;
      }
    }
  }
}

#modal {
  margin-top: 10%;
  #header {
    background-color: #2b2d2f;
    border: 1px solid #2b2d2f;
    position: relative;
    #title {
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
    }

    #icon {
      color: #d21404;
      position: absolute;
      right: 0;
      margin-right: 4%;
      margin-top: 1%;
    }
  }
  #body {
    background-color: #2b2d2f;
  }
  #card {
    background-color: #3a3b3c;
    color: #fff;
    border: 1px solid #fff;
    margin: auto;

    #cardText {
      color: orange;
    }

    .moreBtn {
      width: 40%;
      margin: auto;
      margin-bottom: 4%;
      background-color: #ff8c00;
      border: 1px solid #ff8c00;

      &:hover {
        background-color: orangered;
        box-shadow: 0px 0px 5px #ff8c00;
      }

      .icon {
        margin: auto;
        margin-top: 3%;
        float: right;
      }
    }
  }
}

// FHD
@media all and (min-width: 1800px) {
  .search {
    #f {
      .formInput {
        margin-right: 10px;
      }

      .clearIcon {
        margin-right: 3%;
        margin-left: -12%;
        margin-top: 1%;
      }
    }
  }
  #modal {
    margin-top: 7%;

    #body {
      #card {
        .moreBtn {
          width: 40%;

          .icon {
            margin-top: 3%;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1028px) and (max-width: 1800px) {
  // .search {
  //   #f {
  //     .formInput {
  //       margin-right: 10px;
  //     }
  //   }
  // }
  #modal {
    // margin-top: 7%;

    #body {
      #card {
        .moreBtn {
          width: 30%;

          .icon {
            margin-top: 4%;
          }
        }
      }
    }
  }
}

// MOBILE
@media all and (max-width: 720px) {
  .search {
    #f {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      .formInput {
        margin-top: 5%;
        width: 60%;
      }

      .searchBtn {
        margin-left: 1%;
        margin-top: 5%;
        width: 40%;
      }

      .clearIcon {
        margin-top: 5%;
        margin-left: -10%;
        margin-right: 3%;
      }
    }
  }
  #modal {
    margin-top: 40%;

    #body {
      #card {
        .moreBtn {
          .icon {
            margin-top: 5%;
          }
        }
      }
    }
  }
}
