.search {
  #f {
    // .searchBtn,
    // .clearBtn {
    //   margin-left: 2%;
    //   margin-right: 2%;
    //   margin-top: 4%;
    //   margin-bottom: -3%;
    //   width: 40%;

    //   &:hover {
    //     box-shadow: 0px 0px 5px #fff;
    //   }

    // }
  }

  #modal {
    width: 40%;
    margin: auto;
    margin-top: 4%;
    border: 1px solid #424842;
    .cardHeader {
      background-color: #424842;
      color: #fff;
      font-weight: bold;
      letter-spacing: 1px;
      font-size: 1.2rem;
    }
  }
}

@media all and (min-width: 1800px) {
  .search {
    .card {
      width: 40%;
    }
  }
}

// MOBILE
@media all and (max-width: 720px) {
  .search {
    #f {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;

      .formInput {
        margin-top: 5%;
        width: 60%;
      }

      .searchBtn {
        margin-top: 5%;
        width: 40%;
      }
    }

    #modal {
      margin-top: 50px;
    }

    .card {
      width: 80%;
    }
  }
}
