.map {
  .mapContainer {
    width: 500px;
    height: 100%;
    margin: auto;
  }
}

@media all and (max-width: 720px) {
  .map {
    height: calc(100vh - 128px);
    .mapContainer {
      width: 100%;
    }
  }
}

@media all and (min-width: 720px) and (max-width: 1400px) {
  .map {
    height: calc(100vh - 64px);
    .mapContainer {
      width: 100%;
    }
  }
}

@media all and (min-width: 1400px) {
  .map {
    height: calc(100vh - 64px);
    .mapContainer {
      width: 100%;
    }
  }
}
